body {
	background-color:#8080FF;
}

div#connexion {
	margin-top:50px;
	margin-right:auto;
	margin-left:auto;
	width:350px;
}

fieldset {
	border-style:solid;
	border-width:4px;
	border-color:#0489a9;
	background-color:white;
}

.style0L {
    color: #336699 ;
    font-family: arial;
    font-size: 10pt;
    font-weight: 600;
    text-align:left;
}

.style0C {
    color: #336699 ;
    font-family: arial;
    font-size: 10pt;
    font-weight: 600;
    text-align:center;
}

.style0R {
    color: #336699 ;
    font-family: arial;
    font-size: 10pt;
    font-weight: 600;
    text-align:right;
}

.stylebouton {
	background-color: #6786ba;
    color: white
}

input.param {
    font-size: 8pt
}


#header {
	position:absolute;
	left:10px;
	right:10px;
	top:10px;
	height:100px;
	z-index:1;
	background-color:#FF8080;
	visibility: visible;
}

#imageHeader {
	position:absolute;
	left:5px;
	top:5px;
	bottom:5px;
	width:100px;
	z-index:1;
	visibility: visible;
}

#titleHeader {
	position:absolute;
	left:110px;
	top:25px;
	bottom:25px;
	right:50px;
	z-index:1;
	background-color:blue;
	font-family:times;
	font-size:28pt;
	text-align:center;
	color:pink;
	visibility: visible;
}

#baseHeader {
	position:absolute;
	right:5px;
	bottom:5px;
	text-align:right;
	font-size:8pt;
	color:black;
	visibility: visible;
}

#Footer {
	position:absolute;
	left:10px;
	right:10px;
	bottom:10px;
	height:20px;
	z-index:1;
	background-color:black;
	color:white;
	visibility: visible;
	text-align:center;
	font-size:9pt;
}


#nav {
	position:absolute;
	left:10px;
	top:120px;
	width:200px;
	bottom:40px;
	z-index:1;
	background-color:#BBBBFF;
	visibility: visible;
}

#droite {
	position:absolute;
	right:10px;
	top:120px;
	width:160px;
	bottom:40px;
	z-index:1;
	background-color:#BBBBFF;
	visibility: visible;
}

#Centre {
	position:absolute;
	left:220px;
	right:180px;
	top:120px;
	bottom:40px;
	z-index:0;
	background-color:#FFFFFF;
	visibility: visible;
}

.blocNav {
	position:relative;
	margin-top:5px;
	margin-bottom:5px;
	margin-left:5px;
	margin-right:5px;
	visibility: visible;
	display:block;
}

.blocNavHeader {
	position:relative;
	margin-top:1px;
	margin-left:1px;
	margin-right:12px;
	height:20px;
	background-color:#40FF40;
	visibility: visible;
}

.blocNavElement {
	position:relative;
	margin-top:1px;
	margin-left:1px;
	margin-right:2px;
	background-color:white;
	color:black;
	visibility: visible;
}

.PageCentrale {
	width:100%;
	height:100%;
	display: block;
}

a, a:link, a:visited {
	color:black;
	text-decoration:none;
}

a:hover {
	background-color:white;
	color:red;
	text-decoration:blink;
}

iframe {
	width:100%;
	height:100%;
	display: block;
	overflow:scroll;
	border:none;
}


